nav {
    background-color: var(--blue);
    color: white;
    padding: 30px 35px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    height: 20px;
}

nav>h2 {
    margin: 5px;
    font-size: 15px;
}

.nav--title {
    margin-right: auto;
    color: var(--orange);
    font-size: 30px;
}

.nav--register {
    background-color: var(--orange);
    color: var(--black);
    padding: 10px;
    border-radius: 15px;
    transition: .5s;
    height: 20px;
}

.nav--register:hover {
    transform: translateY(-15%);
    cursor: pointer;
}

.nav--info,
.nav--login {
    transition: 0.5s;
}

.nav--info:hover,
.nav--login:hover {
    transform: translateY(-15%);
    cursor: pointer;
}