.crud--container{
    background-image: url('https://images.unsplash.com/photo-1512813195386-6cf811ad3542?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    flex: 1;
    height: max-content;    
}

.crud{
        
    display: flex;
    flex:1;
}

.crud--opc{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

.crud--btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Poppins, sans-serif;
    font-size: large;
    margin: 20px;
    min-width: 30%;
    max-width: 500px;
    height: 400px;
    background: transparent;
    border: 2px solid var(--black);
    border-radius: 10px;
    transition: .5s;
    backdrop-filter: blur(15px);
}

.crud--btn img{
    max-width: 80%;
    max-height: 80%;
}

.crud--btn:hover{
    transform: translateY(-5%);
    cursor: pointer;
    background-color: var(--orange);
    border: none;
    color: white;
}

.crud--btn:hover img{
    filter:invert(100%);
    transition: .5s;
}