#profile--container{
    background-image: url('https://images.unsplash.com/photo-1542835435-4fa357baa00b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=791&q=80');
}

#profile--box{
    height: 550px;
}

input:disabled{
    color:gray;
}

.close--sesion{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 24px 0 10px;
}

.close--sesion:hover{
    text-decoration: underline;
    cursor: pointer;
}

.formButton{
    display: flex;
    align-items: center;
    justify-content: center;
}