nav {
    background-color: var(--blue);
    color: white;
    padding: 30px 35px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    height: 20px;
}

nav>h2 {
    margin: 10px;
    font-size: 15px;
}

.nav--title {
    margin-right: auto;
    color: var(--orange);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.nav--register{
    background-color: var(--orange);
    min-width: 80px;
    text-align: center;
    color: var(--black);
    padding: 10px;
    border-radius: 15px;
    transition: .5s;
    height: 20px;
}

.nav--element,
.nav--elementLog,
.nav--meet{
    transition: 0.5s;
}

.nav--register:hover, 
.nav--element:hover,
.nav--elementLog:hover,
.nav--meet:hover {
    transform: translateY(-15%);
    cursor: pointer;
}

.nav--elementLog{
    display: none;
}

.nav--profile,
.admin--close{
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

.nav--profile:hover,
.admin--close:hover{
    border: 1px solid var(--orange);
    background-color: var(--orange);
    color: var(--black);
    padding: 10px;
    border-radius: 5px;
}

#nav--usuario{
    display: block;
    font-weight: normal;
    font-size: 0.8em;
    margin-bottom: -5px;
}

#nav--perfil{
    font-size: 0.9em;
}